.nav-wrapper {
    display:flex;
    justify-content: space-between;
    background-color:thistle;
    font-weight: bold;
    max-height: 32px;
    min-height: 32px;

}

a{
    color: rgb(0, 0, 0)
}

.nav-section {
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    white-space: nowrap;
}

.nav-wrapper > .nav-section > div {
    display: flex;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    padding: 0 20px 0 20px; 
}

a:hover {
    background-color:rgb(151, 91, 185);
}

 .menu{
    text-align: center;
}

h1{
    text-align: center;
    background-color: thistle;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: ivory;
    }
  }

  .intro{
      background-color: thistle;
  }

  .gazpacho1{
      background-color: thistle;
  }

  .gazpacho2{
      background-color: thistle;
  }

  .hummus1{
      background-color: thistle;
  }

  .hummus2{
      background-color: thistle;
  }

  .posts{
      text-align: left;
      background-color: rgb(230, 148, 160);
  }